<div style="border: 1px dotted red;">
  <h2>I'm the Notes Directive</h2>

  <p>{{ctrl.name}}</p>

  <div ng-include='templates/new_note.html'></div>

  <h1>Post a Note</h1>

<form ng-submit="ctrl.createNote()">
    <label for="content">Content:</label>
    <input ng-model="ctrl.newNote.title"></input>
    <textarea ng-model="ctrl.newNote.content"></textarea>
    <input type="submit" value="Create Note">
</form>

  <ul>
    <li ng-repeat="note in ctrl.notes track by note.id">
      <h3>{{note.title}}</h3>
        <p>{{note.content}}</p>
        <form ng-submit="ctrl.updateNote()">
          <label for="content">Content:</label>
          <input ng-model="note.title"></input>
          <textarea ng-model="note.content"></textarea>
          <input type="submit" value="Update Note">
      </form>
      </li>
  </ul>
</div>